<h2 class="my-3">新規作成</h2>
<form action="/memos" method="post">
  <div class="form-group">
    <input type="text" name="title" class="form-control" id="formGroupExampleInput" placeholder="タイトル">
  </div>
  <div class="form-group">
    <textarea name="content" rows="5" class="form-control" placeholder="本文"></textarea>
  </div>
  <button type="submit" class="btn btn-primary btn-lg">作成</button>
</form>
